* {
    margin: 0px;
}
.titulo {
    font-family: 'Exo 2', sans-serif;
    padding: 5px 80px;
    font-size: 60px;
    color: green;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    z-index: 1;
    position: static;
    padding-top: 20px; 
    text-align: left;
}
.elemento {
    color: #000000;
    padding: 10px;
    font-family: 'Exo 2', sans-serif;
    font-size: 17px;
    transition: background-color 0.5s, color 0.5s;
}

.elemento:hover {
    font-family: 'Exo 2', sans-serif;
     color: green;
}
.navegacion {
    background-color: #d6dadd;
    height: 70px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 2;
}
.nombre {
    background-color: #d6dadd;
    font-size: 25px;
    height: 70px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: left;
    flex: 1.2;
    font-family: 'Exo 2', sans-serif;
    color: green;
}
.logo {
    margin-right: 1px;
    background-color: #d6dadd;
    align-items: center;
    width: 45px;
}
.logo img {
    width: 40px; 
    height: auto;
    
}
.navegacion a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 14px;
}
img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    filter: brightness(0.4);
}

img img {
    max-width: 100%;
    max-height: 100%;
}
.box {
    position: absolute;
    top: 25%;
    left: 0;
    right: 20px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: 10px;
}
.creditos{
    font-family: 'Exo 2', sans-serif;
    padding: 5px 80px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    z-index: 1;
    position: static;
    padding-top: 20px;
    text-align: left;
} 

.creditos ul {
    margin-bottom: 20px;
}
.creditos p {
    margin-bottom: 20px;
}
.creditos h2 {
    margin-bottom: 20px;
}

.h31 {
    font-family: 'Exo 2', sans-serif;
    padding: 5px 80px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    z-index: 1;
    position: static;
    padding-top: 20px;
    text-align: left;
}
.contenedor-padre {
    display: flex;
}
