body {
    font-family: 'Exo 2', sans-serif;
    color: black;
    margin: 0;
}

.fondo {
    background-color: #ADB7E9;
    background-image: linear-gradient(to right, #6F83F3, #bddef1);
}

.contenedor-padre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #E9EBF0;
    color: white;
}

.nombre h1 {
    margin: 0;
    font-weight: bold;
    color: #4281BD;
}

.navegacion {
    display: flex;
}

.elemento {
    margin: 0 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.contenedor {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

aside {
    width: 20%;
}

main {
    width: 70%;
}

h1, h2 {
    color: black;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: #4281BD;
}

h2 {
    text-align: center;
}

img.imgta {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
